<div id="IslandView">
<table border="1">
<tr>
<th {bgTitleCell}>{tagTH}順位</span></th>
<th {bgTitleCell}>{tagTH}同盟</span></th>
<th {bgTitleCell}>{tagTH}マーク</span></th>
<th {bgTitleCell}>{tagTH}国の数</span></th>
<th {bgTitleCell}>{tagTH}総人口</span></th>
<th {bgTitleCell}>{tagTH}占有率</span></th>
<th {bgTitleCell}>{tagTH}農場規模</span></th>
<th {bgTitleCell}>{tagTH}工場規模</span></th>
<th {bgTitleCell}>{tagTH}市場規模</span></th>
</tr>
<tr>
<td>{test}</td>
<td>{test}</td>
<td>{test}</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
</div>